#d1{
    height:200px;
    width:400px;
    background-color: #b6b6b6;
    margin: 200px auto;
    border:1px beige;
}
#d2{
    height:200px;
    width:400px;
    background-color: #b6b6b6;
    margin: 200px auto;
    border:1px beige;

}
.bod{
    background-color:beige;

}


