<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="./vue.js"></script>
    <script src="ListUser.html"></script>
</head>

<style>
    .h2{
        text-align: center;
        color:red;
    }
    .div{
        height:200px;
        width:400px;
        background-color: #b6b6b6;
        margin: 200px auto;
        border:1px beige;
    }
    .body{
        background-color: antiquewhite;
    }
</style>

<body class="body">
<div id="app">
    <div class="div">
        <h2 class="h2">登录</h2>
        <p align="center">账号:<input id="userName" v-model="usr"/></p>
        <p align="center">密码:<input type="password" id="userPass" v-model="pw"/></p>
        <div align="center">
            <button type="submit"><a v-bind:href="url">返回注册</a></button>
            <button @click="signIn()">确定</button>
        </div>
    </div>
</div>

<script>
    var vm=new Vue({
        el:'#app',
        data:{
            usr: '',
            pw: '',
            url:'register.html'
        },
        methods:{
            signIn:function(){

                // 1. 先获取用户列表 用以判断用户是否存在
                var list = window.localStorage.getItem('USER_LIST');
                list = list ? JSON.parse(list) : [];

                // 2. 循环列表，对比输入的账号密码是否正确
                for (var i = 0; i < list.length; i++) {
                    if (list[i].name === this.usr && list[i].pw === this.pw) {
                        // 3. 正确 - 登录成功
                        alert('登录成功！');
                        window.location.href = 'listUser.html';
                        return;
                    }
                }

                // 4. 错误 - 登录失败
                alert('用户不存在或密码错误！');

            }
        }
    })

</script>

</body>
</html>
