<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="./vue.js"></script>
</head>

<style>
	.h2{
		text-align: center;
		color:red;
	}
	.div{
		height:200px;
		width:400px;
		background-color: #b6b6b6;
		margin: 200px auto;
		border:1px beige;
	}
</style>


<body>
<div id="app">
	<div v-bind:class="{active:isActive}"></div>
	<p style="font-size:25px">计数器:{{counter}}</p>
	<button style="font-size: 25px" @click="counter++" >点我</button>
	<ul>
		<li v-for="(value,key,index) in object">
			{{index}} {{key}}:{{value}}
		</li>
	</ul>
	<p v-if="seen">现在你看到我了</p>
	<div v-if="Math.random()>0.5">
		Sorry
	</div>
	<div v-else>
		Not Sorry
	</div>
	<p>{{msg}}</p>
	<input v-model="msg"/><button @click="reversemsg()">反转字符串</button>
	<pre><a v-bind:href="url">菜鸟教程</a></pre>
	<lable for="r1">修改颜色</lable><input type="checkbox" id="r1"/>
	<div v-bind:class="{'class1':use}">
		v-bin:class指令
		{{5+5}}<br>
		{{ok? 'YES':'NO'}}<br>
		{{message.split('').reverse().join('')}}
		<div v-bind:id="'list'+id">菜鸟教程123</div>
	</div>
</div>

<script type="text/javascript">
	var vm=new Vue({
		el:'#app',
		data: {
			isActive:true,
			use:false,
			ok:true,
			message:'RUNOOB',
			id:1,
			seen:true,
			url:'http://www.runoob.com',
			msg:'Runoob!',
			object:{
				name:'菜鸟教程',
				url:'http://www.runoob.com',
				sologan:'我们学的不仅仅是技术，更是理想',
			},
			counter:1,
		},
		methods:{
			reversemsg:function() {
				this.msg = this.msg.split('').reverse().join('')
			}
		}
	});
	vm.$watch('counter',function(nval,oval){
		alert('计数器变化从:'+oval+'变为'+nval)
	});
</script>

</body>
</html>
